repointel_fanout.json
{
  "name": "RepoIntel — Verdict Fan-out",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "repointel-verdict",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Webhook (verdict in)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-260, 300],
      "webhookId": "repointel-verdict"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "verdict", "value": "={{ $json.body.verdict }}", "type": "string" },
            { "id": "a2", "name": "query", "value": "={{ $json.body.query }}", "type": "string" },
            { "id": "a3", "name": "report", "value": "={{ $json.body.report }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-40, 300]
    },
    {
      "parameters": {
        "jsCode": "// derive a couple of signals from the report text\nconst report = ($json.report || '').toString();\nconst cveCount = (report.match(/CVE-\\d{4}-\\d+/gi) || []).length;\nconst verdict = ($json.verdict || 'REVIEW').toUpperCase();\nconst riskLevel = verdict.includes('NO-GO') ? 'HIGH' : (verdict.includes('GO') ? 'LOW' : 'MEDIUM');\nreturn [{ json: { ...$json, cve_count: cveCount, risk_level: riskLevel, reviewed_at: new Date().toISOString() } }];"
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Extract risk signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [180, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.verdict }}",
              "rightValue": "NO-GO",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Is it NO-GO?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "owner": { "__rl": true, "value": "ashish-tripathi57", "mode": "name" },
        "repository": { "__rl": true, "value": "ComplianceFlowTestRepo", "mode": "name" },
        "title": "=[{{ $json.verdict }}] {{ $json.query }}",
        "body": "=## 🔍 Automated Dependency Review — RepoIntel\n\n**Verdict:** {{ $json.verdict }}  |  **Risk:** {{ $json.risk_level }}  |  **CVEs found:** {{ $json.cve_count }}\n**Request:** {{ $json.query }}\n\n---\n\n{{ $json.report }}\n\n---\n_Filed automatically by the RepoIntel agent via n8n. Not a human review._",
        "labels": [],
        "assignees": []
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "GitHub: file issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [660, 180]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "ashish.tripathi57@gmail.com",
        "subject": "=🚨 [RepoIntel] {{ $json.verdict }} — {{ $json.query }}",
        "emailType": "text",
        "message": "=RepoIntel flagged a risk.\n\nVerdict: {{ $json.verdict }}  (risk: {{ $json.risk_level }}, CVEs found: {{ $json.cve_count }})\nRequest: {{ $json.query }}\n\n----------------------------------------\n{{ $json.report }}\n----------------------------------------\nFiled automatically by the RepoIntel agent via n8n.",
        "options": {}
      },
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Gmail: security alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [660, 360]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "ashish.tripathi57@gmail.com",
        "subject": "=✅ [RepoIntel] {{ $json.verdict }} — {{ $json.query }}",
        "emailType": "text",
        "message": "=RepoIntel review complete — no blocking risk.\n\nVerdict: {{ $json.verdict }}\nRequest: {{ $json.query }}\n\n----------------------------------------\n{{ $json.report }}",
        "options": {}
      },
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "Gmail: approved / FYI",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [660, 520]
    }
  ],
  "connections": {
    "Webhook (verdict in)": { "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]] },
    "Edit Fields": { "main": [[{ "node": "Extract risk signals", "type": "main", "index": 0 }]] },
    "Extract risk signals": { "main": [[{ "node": "Is it NO-GO?", "type": "main", "index": 0 }]] },
    "Is it NO-GO?": {
      "main": [
        [
          { "node": "GitHub: file issue", "type": "main", "index": 0 },
          { "node": "Gmail: security alert", "type": "main", "index": 0 }
        ],
        [
          { "node": "Gmail: approved / FYI", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": false }
}
